<!DOCTYPE html>
<html>
    <head>
        <title>Sign up</title>
        <link rel=stylesheet href="/static/style.css">
    </head>
    <body>
        <h1> Create a Tutory account</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.first_name.label }}<br>
                {{ form.first_name(size=32) }}<br>
            </p>
            <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}<br>
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span class="validation_errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
            </p>
            <p>
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(size=32) }}<br>
                {% for error in form.confirm_password.errors %}
                <span class="validation_errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <div class=flashes>{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <button type="submit" id="register_button">Create Account</button>
        </form>
        <div>Already have an account? <a href='{{ url_for("index") }}'>Sign In</a></div>
    </body>
</html>